

/*-------------------------------------------------------------------------TITLE CLASS------------------------------------------------------------------------------------------------------------*/

.title {
    font-weight: bold;
    padding-bottom: 0;
}
.subtitle {
    font-weight: lighter;
    color: grey;
    padding-top: 0;
}

/*-------------------------------------------------------------------------FONT WEIGHT CLASS------------------------------------------------------------------------------------------------------------*/

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}

/*-------------------------------------------------------------------------FONT STYLE CLASS------------------------------------------------------------------------------------------------------------*/

.cursive {
    font-style: oblique;
}