/*-------------------------------------------------------------------------TITLE CLASS------------------------------------------------------------------------------------------------------------*/

.title {
    font-weight: bold;
    padding-bottom: 0;
}
.subtitle {
    font-weight: lighter;
    color: grey;
    padding-top: 0;
}