/*-------------------------------------------------------------------------GENERAL------------------------------------------------------------------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.5rem;
}

/*-------------------------------------------------------------------------IMPORTS------------------------------------------------------------------------------------------------------------*/

@import "headings";
@import "padding";
@import "margin";
@import "font-styling";
@import "grid";
@import "button";
@import "background-class";
@import "list";
@import "table";
@import "textbox";